* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.75em;
  }
  
  .row {
    width: 100%;
  }
  
  div div {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 90%;
    margin: .6%;
    padding: 35px 15px 5px 15px;
    background-color: #999DA0;
    border: 1px solid black;
  }
  
  h2 {
    position: absolute;
    top:0;
    right:0;
    width: 115px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
  }
  
  #title1 {
    background-color: #5EFB6E;
  }
  
  #title2 {
    background-color: #5EFB6E;
  }
  
  #title3 {
    background-color: #5EFB6E;
  }
  
  @media (min-width: 992px) {
    .col-length-1, .col-length-2, .col-length-3, .col-length-4, .col-length-5, .col-length-6, .col-length-7, .col-length-8, .col-length-9, .col-length-10, .col-length-11, .col-length-12 {
      float: left;
    }
    .col-length-1 {
      width: 8.33%;
    }
    .col-length-2 {
      width: 16.66%;
    }
    .col-length-3 {
      width: 25%;
    }
    .col-length-4 {
      width: 32%;
    }
    .col-length-5 {
      width: 41.66%;
    }
    .col-length-6 {
      width: 50%;
    }
    .col-length-7 {
      width: 58.33%;
    }
    .col-length-8 {
      width: 66.66%;
    }
    .col-length-9 {
      width: 74.99%;
    }
    .col-length-10 {
      width: 83.33%;
    }
    .col-length-11 {
      width: 91.66%;
    }
    .col-length-12 {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-mid-1, .col-mid-2, .col-mid-3, .col-mid-4, .col-mid-5, .col-mid-6, .col-mid-7, .col-mid-8, .col-mid-9, .col-mid-10, .col-mid-11, .col-mid-12 {
      float: left;
      
    }
    .col-mid-1 {
      width: 8.33%;
    }
    .col-mid-2 {
      width: 16.66%;
    }
    .col-mid-3 {
      width: 25%;
    }
    .col-mid-4 {
      width: 48%;
    }
    .col-mid-5 {
      width: 41.66%;
    }
    .col-mid-6 {
      width: 48%;
    }
    .col-mid-7 {
      width: 58.33%;
    }
    .col-mid-8 {
      width: 66.66%;
    }
    .col-mid-9 {
      width: 74.99%;
    }
    .col-mid-10 {
      width: 83.33%;
    }
    .col-mid-11 {
      width: 91.66%;
    }
    .col-mid-12 {
      width: 97.2%;
    }
  }
  
  @media (max-width: 767px) {
    div div {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 15px;
    }
  }
        
